body{
    background-color: royalblue;
    /* text-align: center; */
}

.title {
    color: white;
    font-size: 20px;
    background-color: orange;
    padding: 30px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin-bottom: 1em;
    text-align: center;
}

h1{
    display: inline;
}

input[type=text], select{
    background-color: #f2f2f2;
    border-radius: 10px;
    height: 60px;
    font-size: 32px;
}

input[type=button]{
    background: orange;
    border-radius: 10px;
    font-size: 30px;
    border: none;
    color: white;
    padding: 20px;
    text-align: left;
    width: 15.5em;
}

input[type=button]:hover{
    background-color: darkorange;
}

.buttonDiv{
    padding: 10px;
}

.pad{
    margin-top: 120px;
    position: fixed;
    bottom: 30px;
    right: 42.5%;
}

.buttonBottom{
    background: orange;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    border: none;
    color: white;
}

.buttonBottom:hover{
    background-color: darkorange;
}

.mainForms{
    
}

.createAScheduleForm{
    float: right;
}

.selecter{
    float: left;
    width: 100%;
    color: gray;
}

.parent{
    float: left;
    margin-right: 10px;
}

input, select{
    margin-bottom: .5em;
}