body{
    background-color: royalblue;
}

table{
    border: 10px solid orange;
    width: 74%;
    border-radius: 15px;
    table-layout: fixed; 
    border-collapse: separate;
    float: left;
    margin-right: 10px;
}

td, th{
    border: 1px solid orange;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 5em;
    text-align: center;
}

h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

.functionContainer{
    border: 10px solid orange;
    width: 24%;
    float: left;
    height: auto;
    text-align: center;
    border-radius: 15px;
}