body{
    background-color: royalblue;
}

table{
    border: 10px solid orange;
    width: 100%;
    border-radius: 15px;
    table-layout: fixed; 
    border-collapse: separate;
    margin-right: .5em;
    margin-bottom: .5em;
}

td, th{
    /* border: 1px solid orange; */
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 5em;
    text-align: center;
}

.openTS{
    background-color: #66CD00;
    border-radius: 1em;
}

.openTS:hover{
    background-color: #458B00;
}

.closedTS{
    background-color: red;
    border-radius: 1em;
}

.closedTS:hover{
    /* background-color: darkred; */
}

.takenTS{
    background-color: orange;
}

h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px #000000;
}

h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.functionContainer{
    border: 10px solid orange;
    width: 24%;
    float: left;
    height: auto;
    text-align: center;
    border-radius: 15px;
}

input[type=text]{
    background-color: #f2f2f2;
    border-radius: 7px;
    font-size: 15px;
    margin-bottom: 10px;
}

.set{
    border-radius: 5px;
    background-color: #66CD00;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-size: 20px;
    padding: 5px;
}

.set:hover{
    background-color: #458B00;
}

.set:active{
    background-color: #458B00;
    transform: translateX(1px) translateY(1px);
}

.del{
    background-color: red;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-bottom: .5em;
}

.del:hover{
    background-color: darkred;
}

.del:active{
    background-color: darkred;
    transform: translateX(1px) translateY(1px);
}

.filteredResults{
    overflow-y: scroll;
    width: 200px;
    height: 200px;
    background-color: lightgray;
}

.filteredResultsEntry{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid gray;
    border-radius: 8px;
}

.overlay{
    display: none;
    text-align: center;
}

.weekButton{
    color: white;
    background-color: orange;
    border: none;
    border-radius: .5em;
    font-weight: bold;
    font-size: 1em;
}

.weekButton:hover{
    background-color: darkorange
}

.bookedTS{
    background-color: orange;
    border-radius: 1em;
}




/* https://codepen.io/thetallweeks/pen/yybGra */

.loading {
    position:fixed;
    bottom:20em;
    left:40%;
    text-align:center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
  
.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
    animation: ellipsis steps(4,end) 1500ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
}
  
@keyframes ellipsis {
    to {
        width: 1.25em;    
    }
}
  
@-webkit-keyframes ellipsis {
    to {
      width: 1.25em;    
    }
}