body{
    background-color: royalblue;
}

.title{
    text-align: center;
}

h1 span{
    text-align: center;
    color: white;
    font-size: 40px;
    background-color: orange;
    padding: 30px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.daysOldContainer{
    overflow-y: scroll;
    height: 400px;
    width: 400px;
    background-color: lightgray;
    /* float: left; */
    margin-right: 10px;
}

.hoursOldContainer{
    overflow-y: scroll;
    height: 400px;
    width: 400px;
    background-color: lightgray;
}

.dayOldParent{
    float: left;
    text-align: center;
}

.hourOldParent{
    float: left;
    text-align: center;
}

.delButton{
}